body{

	/*margin-left: 10px;*/

	border: 20px solid #bdc3c7;
	width: 80%;
	margin:20px auto;
	max-width: 700px;
}

#date{
	margin-left: 10px;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h2{

	margin-left: 10px;
	color: #2c3e50;
	font-weight: bold;
	font-size: 2.0rem;
}

#prior{

	margin-left: 13px;
	border-left: 3px solid  #bdc3c7;
	padding-left: 3px;

}

p{

	margin-left: 10px;
}

#date2{
	margin-left: 10px;
	margin-right: 10px;
	border-top: 3px solid #bdc3c7;
	padding-top: 6px;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;

}